/* styles pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #F2F2F2;
    margin: 0;
    padding: 0;
}

/* styles pour l'en-tête de la page */
header {
    background-color: #E91E63;
    color: white;
    padding: 20px;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
}

header nav ul li a:hover {
    color: #FFC107;
}

/* styles pour le contenu principal */
main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 50px;
}

section h2 {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 20px;
}

article {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    border-radius: 5px;
}

article h3 {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 10px;
}

article p {
    font-size: 1.2rem;
    margin: 0;
}

/* styles pour le pied de page */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
    font-size: 1.2rem;
}
