body, div {
	margin: 0;
	padding: 0;
}
body {
	background-color: brown;
	font-family: Arial, sans-serif;
	font-size: 16px;
}
img {
	float: left; 
	margin-right: 20px;
}
th { width: 200px;}
ul { list-style-type: square; }

#entete-de-page {
	padding: 5px;
	height: 100px;
	background-color: azur;
	font-size: 32px;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
}
#bloc-menu {
	height: 36px;
	background-color: steelblue;
	float: center;
	color: white;
}
#contenu {
	padding: 10px;
	background-color:skyblue ;
}
#infos {
	color: mistyrose;
	font-style: italic;
}
#pied-de-page {
	padding: 5px;
	background-color: green;
	font-size: 11px;
}

	